<script src="{$wa_app_static_url}plugins/lp/js/vendors/theater/theater.min.js" defer></script>
<script>
    (function() {
        const r = function() {
            const p = {$phrases|json_encode};
            const t = theaterJS({ minSpeed:80, maxSpeed:450 });
            t.addActor('searchInput', { accuracy: 0.8, speed: 0.6 }, function (v) {
                const l = document.querySelectorAll('{$selector|default:'input[name=query]'}');
                l.forEach(function (e) {
                    e.setAttribute('placeholder', v);
                })
            });
            t.on('sequence:end', function(){
                const a = t.getCurrentActor();
                a.displayValue = '';
            });
            for(let i=0;i<p.length;i++)
                t.addScene((i===0?'searchInput:':'')+p[i], 1000);
            t.addScene(t.replay);
        };

        if(document.readyState==='loading') document.addEventListener('DOMContentLoaded', r);
        else r();
    })();
</script>
